{% extends "blog/base.html" %}

{% block content %}
<div class="jumbotron">
    <h2>Login Here</h2>
    <h3>Must Be superuser, Please check with admin</h3>

    {% if form.errors %}
    <p>Your UserName or Password is incorrect</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" class="btn btn-primary" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{%endblock%}